p
{
    /* color: blue; text-decoration: none; */
    /* margin-left: 50px; */
    /* margin:auto; */
    border: 3px solid white;
    text-align: center;
    /* align: center; */
    /* border-color:white; */
    width: 40%;
    padding: 10px;
}
div
{
    margin-left: 40%;
    /* margin-left: 40%; */
    /* margin-left: 40%; */
}
body{
    background-color: silver;
}
